<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" th:replace="layout::head('WallRide')" />
		<title>WallRide</title>
	</head>
	<body>
		<header th:replace="layout::header"></header>
		<div>
			<div id="wr-page-header">
				<div class="page-header container-fluid">
					<div class="row">
						<div class="col-sm-9">
							<div class="pull-left back">
								<a class="btn btn-sm btn-default" th:href="@{__${ADMIN_PATH}__/articles/index?search}"><span class="glyphicon glyphicon-arrow-left"></span></a>
							</div>
							<div class="pull-left">
								<h1 th:text="${article.title}?:'(No Titled)'">(No Titled)</h1>
							</div>
						</div>
						<div class="col-sm-3 clearfix">
							<div class="pull-right">
								<div class="btn-group">
									<div th:classappend="${previousObject eq null}?'disabled'" class="previous">
										<a class="btn btn-default" th:href="${previousObject ne null} ? @{__${ADMIN_PATH}__/articles/describe?pageable(id=${previousObject.id},page=${previousPageable.pageNumber},size=${previousPageable.pageSize})} : '#'"><span class="glyphicon glyphicon-chevron-left"></span></a>
									</div>
								</div>
								<div class="btn-group">
									<div th:classappend="${nextObject eq null}?'disabled'" class="next">
										<a class="btn btn-default" th:href="${nextObject ne null} ? @{__${ADMIN_PATH}__/articles/describe?pageable(id=${nextObject.id},page=${nextPageable.pageNumber},size=${nextPageable.pageSize})} : '#'"><span class="glyphicon glyphicon-chevron-right"></span></a>
									</div>
								</div>
								<div class="btn-group">
									<a th:href="@{__${ADMIN_PATH}__/articles/edit(id=${article.id})}" type="button" class="btn btn-info" th:text="#{Edit}">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="wr-page-content">
				<div class="container-fluid">
					<div class="row" th:if="${article ne null}">
						<div class="col-sm-9 wr-describe-main">
							<div class="alert alert-success" th:if="${savedArticle ne null}">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<span th:text="#{SavedArticle}">Article saved.</span>
							</div>
							<div>
								<img th:if="${article.cover ne null}" th:src="@{${#medias.link(article.cover)}(w=1200,h=500,m=1)}" class="wr-post-cover" />
							</div>
							<div class="wr-post-body clearfix">
								<p th:utext="${#posts.body(article)}"></p>
							</div>
							<hr/>
							<p><span class="glyphicon glyphicon-user"></span> Created By <a th:href="@{__${ADMIN_PATH}__/users/describe(id=${article.author.id})}" th:text="${article.author}">Author</a></p>
						</div>
						<div class="col-sm-3 wr-tool-panel">
							<div class="tools clearfix">
								<div class="status">
									<span th:if="${#strings.toString(article.status) eq 'DRAFT'}" class="glyphicon glyphicon-warning-sign"></span>
									<span th:if="${#strings.toString(article.status) eq 'SCHEDULED'}" class="glyphicon glyphicon-time"></span>
									<span th:if="${#strings.toString(article.status) ne 'PUBLISHED'}" th:text="${#messages.msg('Post.Status.' + article.status)}">Published</span>
									<a th:href="@{__${WEBSITE_PATH}__/__${article.date.toString('yyyy/MM/dd')}__/__${article.code}__}" th:if="${#strings.toString(article.status) eq 'PUBLISHED'}" target="_blank">
										<span class="glyphicon glyphicon-globe"></span>
										<span th:text="${#messages.msg('Post.Status.' + article.status)}">Published</span>
									</a>
								</div>
							</div>
							<dl>
								<dt th:text="#{Date}">Date</dt>
								<dd th:if="${article.date ne null}" th:text="${article.date.toString('yyyy/MM/dd')}"></dd>
							</dl>
							<dl>
								<dt th:text="#{Categories}">Categories</dt>
								<dd>
								<ul class="list-unstyled">
									<li th:each="category : ${article.categories}" th:text="${category.name}">Category Name</li>
								</ul>
								</dd>
							</dl>
							<dl class="wr-tags">
								<dt th:text="#{Tags}">Tags</dt>
								<dd>
									<ul class="list-unstyled list-inline list-inline-tag">
										<li th:each="tag : ${article.tags}"><span class="label label-default"><span class="glyphicon glyphicon-tag"></span> <span th:text="${tag.name}"></span></span></li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt th:text="#{RelatedPosts}">Related Posts</dt>
								<dd>
									<ul class="list-unstyled">
										<li th:each="relatedPost : ${article.relatedToPosts}"><a th:href="@{__${ADMIN_PATH}__/posts/describe(id=${relatedPost.id})}"><span class="glyphicon glyphicon-link"></span> <span th:text="${relatedPost.title}"></span></a></li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt th:text="#{Seo}">SEO</dt>
								<dd>
									<dl>
										<dt th:text="#{SeoTitle}">Title</dt>
										<dd th:text="${article.seo}? ${article.seo.title}"></dd>
										<dt th:text="#{SeoDescription}">Description</dt>
										<dd th:text="${article.seo}? ${article.seo.description}"></dd>
										<dt th:text="#{SeoKeywords}">Keywords</dt>
										<dd th:text="${article.seo}? ${article.seo.keywords}"></dd>
									</dl>
								</dd>
							</dl>
							<a th:href="@{__${ADMIN_PATH}__/articles/describe(part=delete-form,id=${article.id})}" data-toggle="modal" data-target="#delete-modal"><span class="glyphicon glyphicon-trash"></span> <span th:text="#{DeleteArticle}">記事を削除</span></a>
							<!-- #delete-modal -->
							<div id="delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
								<div id="delete-dialog" class="modal-dialog">
									<div class="modal-content">
										<form th:fragment="delete-form" th:action="@{__${ADMIN_PATH}__/articles/delete(id=${article.id})}" method="post">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" th:text="#{DeleteArticle}">Delete Article</h4>
											</div>
											<div class="modal-body">
												<p th:text="#{MakeSureDelete}">Are you sure you want to delete?</p>
											</div>
											<div class="modal-footer">
												<button class="btn btn-default" data-dismiss="modal" th:text="#{Cancel}">Cancel</button>
												<button class="btn btn-primary" th:text="#{Delete}">Delete</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!--/#delete-modal -->
							<script th:inline="javascript">
								// <![CDATA[
								$(function() {
									$('#delete-modal').on('hidden.bs.modal', function() {
										$(this).removeData('bs.modal');
									});
								});
								// ]]>
							</script>
						</div>
						<div class="alert alert-warning" th:unless="${article ne null}">
							<strong>Not Found.</strong> May be deleted.
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>