<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" th:replace="layout::head('WallRide')" />
		<title>WallRide</title>
	</head>
	<body>
		<header th:replace="layout::header"></header>
		<div>
			<div th:replace="layout::sidebar"></div>
			<div id="main">
				<div class="row">
					<div class="col-sm-12">
						<div class="pull-left">
							<ol class="breadcrumb">
								<li><a th:href="@{__${ADMIN_PATH}__/}" th:text="#{Dashboard}">Dashboard</a></li>
								<li><a th:href="@{__${ADMIN_PATH}__/articles/index(token=${token})}" th:text="#{Articles}">Articles</a></li>
								<li class="active" th:if="${article ne null}" th:text="${article.title}?:'(No Titled)'"></li>
							</ol>
						</div>
						<div class="pull-right">
							<ul class="pager">
								<li th:classappend="${prevId eq null}?'disabled'" class="previous">
									<a th:href="${prevId ne null} ? @{__${ADMIN_PATH}__/articles/describe(id=${prevId},token=${token})} : '#'"><span class="glyphicon glyphicon-chevron-left"></span></a>
								</li>
								<li th:classappend="${nextId eq null}?'disabled'" class="next">
									<a th:href="${nextId ne null} ? @{__${ADMIN_PATH}__/articles/describe(id=${nextId},token=${token})} : '#'"><span class="glyphicon glyphicon-chevron-right"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row" th:if="${article ne null}">
					<div class="col-sm-9 wr-describe-main">
						<div class="alert alert-success" th:if="${savedArticle ne null}">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<span th:text="#{SavedArticle}">Article saved.</span>
						</div>
						<div class="page-header clearfix">
							<img th:if="${article.cover ne null}" th:src="@{${_utils.getMediaUrl(article.cover)}(w=1200,h=500,m=1)}" class="wr-post-cover" />
							<h1 th:text="${article.title}?:'(No Titled)'">(No Titled)</h1>
						</div>
						<pre th:utext="${article.body}"></pre>
						<hr/>
						<span class="glyphicon glyphicon-user"></span> Created By <a th:href="@{__${ADMIN_PATH}__/users/describe(id=${article.author.id})}" th:text="${article.author}">Author</a>
					</div>
					<div class="col-sm-3 wr-tool-panel">
						<div class="tools clearfix">
							<div class="pull-left">
								<div class="status">
									<span th:if="${#strings.toString(article.status) eq 'DRAFT'}" class="glyphicon glyphicon-warning-sign"></span>
									<span th:if="${#strings.toString(article.status) eq 'SCHEDULED'}" class="glyphicon glyphicon-time"></span>
									<span th:if="${#strings.toString(article.status) ne 'PUBLISHED'}" th:text="${#messages.msg('Post.Status.' + article.status)}">Published</span>
									<a th:href="@{__${WEBSITE_PATH}__/__${article.date.toString('yyyy/MM/dd')}__/__${article.code}__}" th:if="${#strings.toString(article.status) eq 'PUBLISHED'}" target="_blank">
										<span class="glyphicon glyphicon-globe"></span>
										<span th:text="${#messages.msg('Post.Status.' + article.status)}">Published</span>
									</a>
								</div>
							</div>
							<div class="btn-toolbar pull-right" role="toolbar">
								<div class="btn-group">
									<a th:href="@{__${ADMIN_PATH}__/articles/edit(id=${article.id})}" type="button" class="btn btn-info" th:text="#{Edit}">編集</a>
<!--									<a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></a>
									<ul class="dropdown-menu pull-right" role="menu">
										<li class="disabled"><a href="#">記事をコピー</a></li>
										<li><a href="">英語版</a></li>
										<li><a href="">ドイツ語版</a></li>
										<li><a href="">フランス語版</a></li>
									</ul>-->
								</div>
							</div>
						</div>
						<dl>
							<dt th:text="#{Date}">公開日</dt>
							<dd th:if="${article.date ne null}" th:text="${article.date.toString('yyyy/MM/dd')}"></dd>
						</dl>
						<dl>
							<dt th:text="#{Categories}">カテゴリ</dt>
							<dd>
							<ul class="list-unstyled">
								<li th:each="category : ${article.categories}" th:text="${category.name}">Category Name</li>
							</ul>
							</dd>
						</dl>
						<a th:href="@{__${ADMIN_PATH}__/articles/describe(part=delete-dialog,id=${article.id})}" data-toggle="modal" data-target="#delete-modal"><span class="glyphicon glyphicon-trash"></span> 記事を削除</a>
						<!-- #delete-modal -->
						<div id="delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
							<div id="delete-dialog" class="modal-dialog">
								<form th:action="@{__${ADMIN_PATH}__/articles/delete(id=${article.id})}" method="post">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title" th:text="#{DeleteArticle}">Delete Article</h4>
										</div>
										<div class="modal-body">
											<p th:text="#{MakeSureDelete}">Are you sure you want to delete?</p>
										</div>
										<div class="modal-footer">
											<button class="btn btn-default" data-dismiss="modal" th:text="#{Cancel}">Cancel</button>
											<button class="btn btn-primary" th:text="#{Delete}">Delete</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!--/#delete-modal -->
						<script th:inline="javascript">
							// <![CDATA[
							$(function() {
								$('#delete-modal').on('hidden.bs.modal', function() {
									$(this).removeData('bs.modal');
								});
							});
							// ]]>
						</script>
						<!-- 
						<fieldset>
							<legend>タグ</legend>
							<section class="panel tag describe">
								<input type="hidden" name="tagId" value="" data-width="100%" data-type="select2" data-multiple="true" data-url="sample_suggest.json" class="select2-field select2-style-field" disabled="disabled"/>
							</section>
						</fieldset>
						 -->
					</div>
				</div>
				<div class="alert alert-warning" th:unless="${article ne null}">
					<strong>Not Found.</strong> May be deleted.
				</div>
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>