<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
   <head>
        <meta charset="utf-8" th:replace="layout::head('WallRide')" />
        <title>tesst | WallRide</title>
    </head>
    <body>
        <h1>Test</h1>
        <h1 th:text="${ids}"> </h1>
        <h1 th:text="${form.ids}"> </h1>
        <h1 th:text="${form.language}"> </h1>
        <h1 th:text="${form.status}"> </h1>
        
    </body>
</html>
