<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" th:replace="layout::head('WallRide')" />
		<title>Articles | WallRide</title>
	</head>
	<body>
		<header th:replace="layout::header"></header>
		<div>
			<div th:replace="layout::sidebar"></div>
			<div id="main">
				<ol class="breadcrumb">
					<li><a th:href="@{__${ADMIN_PATH}__/}" th:text="#{Dashboard}">Dashboard</a></li>
					<li class="active"><span th:text="#{Articles}">Articles</span></li>
				</ol>
				<div class="page-header clearfix">
					<ul class="list-inline">
						<li><h1 th:text="#{Articles}">Articles</h1></li>
						<li><a th:href="@{__${ADMIN_PATH}__/articles/create}" class="btn btn-primary btn-sm" style="margin-top: -3px;"><span class="glyphicon glyphicon-plus"></span> <span th:text="#{AddNewArticle}">Add New</span></a></li>
					</ul>
				</div>
				<div class="alert alert-success" th:if="${deletedArticle ne null}">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<span th:text="#{DeletedArticle}">Article Deleted.</span>
				</div>
				<div class="alert alert-success" th:if="${deletedArticles ne null}">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<span th:text="#{DeletedArticles}">Articles Deleted.</span>
				</div>
				<section class="search-condition">
					<div class="search-condition-quick clearfix">
						<form class="form-inline" method="post" th:action="@{/_admin/__${language}__/articles/index}" th:object="${form}">
							<input type="submit" name="search" style="visibility:hidden; width:0; height:0;"/>
							<input type="hidden" th:field="*{status}" />
							<div class="form-group pull-left">
								<ul class="list-inline" style="line-height: 30px;">
									<li th:disabled="${form.status ne null}"><a th:href="@{__${ADMIN_PATH}__/articles/index}" th:text="#{All}">All</a> <span class="total" th:text="${'(' + countAll + ')'}">(0)</span> | </li>
									<li th:disabled="${#strings.toString(form.status) eq 'PUBLISHED'}"><a th:href="@{__${ADMIN_PATH}__/articles/index?search(status=PUBLISHED)}" th:text="#{Post.Status.PUBLISHED}">Published</a> <span class="total" th:text="${'(' + countPublished + ')'}">(0)</span> | </li>
									<li th:disabled="${#strings.toString(form.status) eq 'SCHEDULED'}"><a th:href="@{__${ADMIN_PATH}__/articles/index?search(status=SCHEDULED)}" th:text="#{Post.Status.SCHEDULED}">Scheduled</a> <span class="total" th:text="${'(' + countScheduled + ')'}">(0)</span> | </li>
									<li th:disabled="${#strings.toString(form.status) eq 'DRAFT'}"><a th:href="@{__${ADMIN_PATH}__/articles/index?search(status=DRAFT)}" th:text="#{Post.Status.DRAFT}">Draft</a> <span class="total" th:text="${'(' + countDraft + ')'}">(0)</span></li>
								</ul>
							</div>
							<div class="form-group pull-right" style="width: 300px;">
								<div class="input-group simple-search pull-right">
									<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
									<input type="text" name="keyword" th:value="*{keyword}" class="form-control" th:attr="placeholder=#{Keywords}" />
								</div>
							</div>
						</form>
					</div>
				</section>
				<section class="search-result">
					<form method="post">
						<input type="hidden" name="token" th:value="${token}" />
						<div class="search-result-header clearfix">
							<div class="btn-toolbar wr-bulk-action pull-left">
								<div class="btn-group">
									<a th:href="@{__${ADMIN_PATH}__/articles/index(part=bulk-delete-dialog)}" data-toggle="modal" data-target="#bulk-delete-modal" class="btn btn-default disabled"><span class="glyphicon glyphicon-trash"></span></a>
								</div>
							</div>
							<div class="pagination-group pull-right" th:if="${paginator}">
								<div class="pull-left pagination-summary"><span th:text="${paginator.start}"></span> - <span th:text="${paginator.end}"></span> / <span th:text="${paginator.total}"></span></div>
								<div class="pull-right">
									<ul class="pagination paginateon-sm">
										<li th:classappend="${paginator.hasPrevious() ? '' : 'disabled'}"><a th:href="@{__${ADMIN_PATH}__/articles/index(page=${paginator.previousNumber},token=${token})}" th:text="#{Prev}">Prev</a></li>
										<li th:each="no : ${paginator.numbers}" th:classappend="${paginator.number eq no ? 'active' : ''}"><a th:href="@{__${ADMIN_PATH}__/articles/index(page=${no},token=${token})}" th:text="${no}"></a></li>
										<li th:classappend="${paginator.hasNext() ? '' : 'disabled'}"><a th:href="@{__${ADMIN_PATH}__/articles/index(page=${paginator.nextNumber},token=${token})}" th:text="#{Next}">Next</a></li>
									</ul>
								</div>
							</div>
						</div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="wr-tr-checkbox" style="width:40px"><input type="checkbox" /></th>
									<th th:text="#{Status}">Status</th>
									<th th:text="#{Title}">Title</th>
									<th th:text="#{Categories}">Categories</th>
									<th th:text="#{Author}">Author</th>
									<th th:text="#{Date}">Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="article : ${articles}" th:attr="data-href=@{__${ADMIN_PATH}__/articles/describe(id=${article.id},token=${token})}" class="clickable">
									<td class="wr-tr-checkbox" style="width:40px"><input type="checkbox" name="ids" th:value="${article.id}" /></td>
									<td th:text="${#messages.msg('Post.Status.' + article.status)}">Status</td>
									<td th:text="${article.title?:'(No Titled)'}" style="font-weight: bold;">Title</td>
									<td th:text="${#strings.setJoin(article.categories, '&nbsp;|&nbsp;')}"></td>
									<td><a th:if="${article.author ne null}" th:href="@{__${ADMIN_PATH}__/users/describe(id=${article.author.id})}" th:text="${article.author.name}">Author</a></td>
									<td th:text="${article.date ne null ? article.date.toString('yyyy/MM/dd (E)') : ''}">2013/10/24</td>
									<td><a th:attr="href=@{__${ADMIN_PATH}__/articles/edit(id=${article.id})}"><span class="glyphicon glyphicon-pencil"></span> <span th:text="#{Edit}">Edit</span></a></td>
								</tr>
							</tbody>
						</table>
						<!-- #bulk-delete-modal -->
						<div id="bulk-delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
							<div id="bulk-delete-dialog" class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" th:text="#{DeleteArticle}">Delete Articles</h4>
									</div>
									<div class="modal-body">
										<p th:text="#{MakeSureDelete}">Are you sure you want to delete?</p>
										<label class="checkbox inline"><input type="checkbox" name="confirmed" value="true" /> <span th:text="#{Confirm}">Confirm</span></label>
									</div>
									<div class="modal-footer">
										<button class="btn btn-default" data-dismiss="modal" th:text="#{Cancel}">Cancel</button>
										<button class="btn btn-primary" th:attr="data-action=@{__${ADMIN_PATH}__/articles/bulk-delete}" disabled="true" th:text="#{Delete}">Delete</button>
									</div>
								</div>
							</div>
						</div>
						<!--/#bulk-delete-modal -->
						<script th:inline="javascript">
							// <![CDATA[
							$(function() {
								$('#bulk-delete-modal').on('hidden.bs.modal', function() {
									$(this).removeData('bs.modal');
								});
								$('#bulk-delete-modal').on('change', ':input[name="confirmed"]', function() {
									var confirmed = $(this);
									$('#bulk-delete-modal .btn-primary').prop('disabled', !confirmed.is(':checked'));
								});
								$('#main .search-result').on('click', '[data-href]', function(e) {
									if (!$(e.target).is(':checkbox') && !$(e.target).is('a')){
										window.location = $(e.target).closest('tr').data('href');
									};
								});
								$('#main .search-result').on('click', '[data-action]', function(e) {
									var form = $(this).closest('form');
									form.attr('action', $(this).data('action'));
									form.submit();
									e.preventDefault();
								});
								$('#main .search-result td.wr-tr-checkbox').shiftcheckbox({
									checkboxSelector: ':checkbox',
									selectAll: '.search-result th.wr-tr-checkbox'
								});
								$('#main .search-result td.wr-tr-checkbox').closest('td').click(function(e) {
									e.stopPropagation();
								});
								$('#main .search-result td.wr-tr-checkbox :checkbox').change(function(e) {
									var checked = $(this).prop('checked');
									if (checked) {
										$(this).closest('tr').addClass('warning');
									}
									else {
										$(this).closest('tr').removeClass('warning');
									}
									var checkedSomeone = false;
									$(this).each(function(i, e) {
										if ($(e).prop('checked')) {
											checkedSomeone = true;
											return;
										}
									});
									if (checkedSomeone) {
										$('#main .search-result .wr-bulk-action .btn').removeClass('disabled');
									}
									else {
										$('#main .search-result .wr-bulk-action .btn').addClass('disabled');
									}
								});
							});
							// ]]>
						</script>
					</form>
				</section>
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>