<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" th:replace="layout::head('WallRide')" />
        <title>Articles | WallRide</title>
    </head>
    <body>
        <header th:replace="layout::header"></header>
        <div>
            <div id="wr-page-header">
                <div class="page-header container-fluid">
                    <div class="pull-left">
                        <h1 th:text="#{Articles}">Articles</h1>
                    </div>
                    <div class="pull-right">
                        <a th:href="@{__${ADMIN_PATH}__/articles/create}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> <span th:text="#{AddNewArticle}">Add New</span></a>
                    </div>
                </div>
            </div>
            <div id="wr-page-content">
                <div class="container-fluid">
                    <div class="alert alert-success" th:if="${deletedArticle ne null}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span th:text="#{DeletedArticle}">Article Deleted.</span>
                    </div>
                    <div class="alert alert-success" th:if="${deletedArticles ne null}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span th:text="#{DeletedArticles}">Articles Deleted.</span>
                    </div>
                    <section class="search-condition">
                        <div class="search-condition-simple clearfix">
                            <form class="form-inline" method="post" th:action="@{/_admin/__${language}__/articles/index}" th:object="${form}">
                                <input type="submit" name="search" style="visibility:hidden; width:0; height:0;"/>
                                <input type="hidden" th:field="*{status}" />
                                <div class="form-group pull-left">
                                    <div class="input-group keyword-search">
                                        <input type="text" name="keyword" th:value="*{keyword}" class="form-control" th:attr="placeholder=#{Keywords}" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit" name="search"><span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group pull-left status-condition">
                                    <ul class="list-inline" style="line-height: 30px;">
                                        <li th:disabled="${form.status ne null}"><a th:href="@{__${ADMIN_PATH}__/articles/index?search}" th:text="#{All}">All</a> <span class="total" th:text="${'(' + countAll + ')'}">(0)</span> | </li>
                                        <li th:disabled="${#strings.toString(form.status) eq 'PUBLISHED'}"><a th:href="@{__${ADMIN_PATH}__/articles/index?search(status=PUBLISHED)}" th:text="#{Post.Status.PUBLISHED}">Published</a> <span class="total" th:text="${'(' + countPublished + ')'}">(0)</span> | </li>
                                        <li th:disabled="${#strings.toString(form.status) eq 'SCHEDULED'}"><a th:href="@{__${ADMIN_PATH}__/articles/index?search(status=SCHEDULED)}" th:text="#{Post.Status.SCHEDULED}">Scheduled</a> <span class="total" th:text="${'(' + countScheduled + ')'}">(0)</span> | </li>
                                        <li th:disabled="${#strings.toString(form.status) eq 'DRAFT'}"><a th:href="@{__${ADMIN_PATH}__/articles/index?search(status=DRAFT)}" th:text="#{Post.Status.DRAFT}">Draft</a> <span class="total" th:text="${'(' + countDraft + ')'}">(0)</span></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section class="search-result">
                        <form method="post">
                            <div class="search-result-header clearfix">
                                <div class="btn-toolbar wr-bulk-action pull-left">
                                    <div class="btn-group">
                                        <a th:href="@{__${ADMIN_PATH}__/articles/index(part=bulk-delete-form)}" data-toggle="modal" data-target="#bulk-delete-modal" class="btn btn-default disabled"><span class="glyphicon glyphicon-trash"></span></a>
                                        <a th:href="@{__${ADMIN_PATH}__/articles/index(part=change-status-form)}" data-toggle="modal" data-target="#change-status-modal" class="btn btn-default">Change All Status </a>
                                    </div>
                                </div>
                                <div class="pagination-group pull-right">
                                    <div class="pull-left pagination-summary"><span th:text="${pagination.numberOfFirstElement}"></span> - <span th:text="${pagination.numberOfLastElement}"></span> / <span th:text="${pagination.totalElements}"></span></div>
                                    <div class="pull-right">
                                        <ul class="pagination paginateon-sm">
                                            <li th:classappend="${pagination.hasPreviousPage() ? '' : 'disabled'}"><a th:href="@{__${ADMIN_PATH}__/articles/index(page=${pagination.previousPageNumber})}" th:text="#{Prev}">Prev</a></li>
                                            <li th:each="p : ${pagination.getPageables(pageable)}" th:classappend="${p.pageNumber eq pagination.currentPageNumber ? 'active' : ''}"><a th:href="@{__${ADMIN_PATH}__/articles/index(page=${p.pageNumber},size=${p.pageSize})}" th:text="${p.pageNumber + 1}"></a></li>
                                            <li th:classappend="${pagination.hasNextPage() ? '' : 'disabled'}"><a th:href="@{__${ADMIN_PATH}__/articles/index(page=${pagination.nextPageNumber})}" th:text="#{Next}">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="wr-tr-checkbox" style="width:40px"><input type="checkbox" /></th>
                                            <th th:text="#{Status}">Status</th>
                                            <th th:text="#{Title}">Title</th>
                                            <th th:text="#{Categories}">Categories</th>
                                            <th th:text="#{Author}">Author</th>
                                            <th th:text="#{Date}">Date</th>
                                            <th th:text="#{Views}">Views</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="article : ${articles}" th:attr="data-href=@{__${ADMIN_PATH}__/articles/describe(id=${article.id})}" class="clickable">
                                            <td class="wr-tr-checkbox" style="width:40px"><input type="checkbox" name="ids" th:value="${article.id}" /></td>
                                            <td th:class="'wr-post-status-' + ${article.status}" th:text="${#messages.msg('Post.Status.' + article.status)}">Status</td>
                                            <td th:text="${article.title?:'(No Titled)'}" style="font-weight: bold;">Title</td>
                                            <td th:text="${#strings.setJoin(article.categories, '&nbsp;|&nbsp;')}"></td>
                                            <td><a th:if="${article.author ne null}" th:href="@{__${ADMIN_PATH}__/users/describe(id=${article.author.id})}" th:text="${article.author.name}">Author</a></td>
                                            <td th:text="${article.date ne null ? article.date.toString('yyyy/MM/dd (E)', #locale) : ''}">2013/10/24</td>
                                            <td th:text="${article.views}">0</td>
                                            <td><a th:attr="href=@{__${ADMIN_PATH}__/articles/edit(id=${article.id})}"><span class="glyphicon glyphicon-pencil"></span> <span th:text="#{Edit}">Edit</span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--#Change-status-article-->
                            <div id="change-status-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div id="change-status-dialog" class="modal-dialog">
                                    <div th:fragment="change-status-form" class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Change Status</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Select a new status that you want to change.</p>
                                            <div class="radio">
                                                <input type="radio" name="status"  value="PUBLISHED" /> Published
                                            </div>
                                            <div class="radio">
                                                <input type="radio" name="status" value="DRAFT" checked="checked" /> Draft
                                            </div>
                                            <div class="radio">
                                                <input type="radio" name="status" value="SCHEDULED" /> scheduled
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal" th:text="#{Cancel}">Cancel</button>
                                            <button class="btn btn-primary" th:attr="data-action=@{__${ADMIN_PATH}__/articles/change-status}"  >Change</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/#Change-status-article-->

                            <!-- #bulk-delete-modal -->
                            <div id="bulk-delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div id="bulk-delete-dialog" class="modal-dialog">
                                    <div th:fragment="bulk-delete-form" class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" th:text="#{DeleteArticle}">Delete Articles</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p th:text="#{MakeSureDelete}">Are you sure you want to delete?</p>
                                            <label class="checkbox inline"><input type="checkbox" name="confirmed" value="true" /> <span th:text="#{Confirm}">Confirm</span></label>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal" th:text="#{Cancel}">Cancel</button>
                                            <button class="btn btn-primary" th:attr="data-action=@{__${ADMIN_PATH}__/articles/bulk-delete}" disabled="true" th:text="#{Delete}">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/#bulk-delete-modal -->
                            <script th:inline="javascript">
                                // <![CDATA[
                                $(function() {
                                    $('#bulk-delete-modal').on('hidden.bs.modal', function() {
                                        $(this).removeData('bs.modal');
                                    });
                                    $('#bulk-delete-modal').on('change', ':input[name="confirmed"]', function() {
                                        var confirmed = $(this);
                                        $('#bulk-delete-modal .btn-primary').prop('disabled', !confirmed.is(':checked'));
                                    });
                                    $('#wr-page-content .search-result').on('click', '[data-href]', function(e) {
                                        if (!$(e.target).is(':checkbox') && !$(e.target).is('a')) {
                                            window.location = $(e.target).closest('tr').data('href');
                                        }
                                        ;
                                    });
                                    $('#wr-page-content .search-result').on('click', '[data-action]', function(e) {
                                        var form = $(this).closest('form');
                                        form.attr('action', $(this).data('action'));
                                        form.submit();
                                        e.preventDefault();
                                    });
                                    $('#wr-page-content .search-result td.wr-tr-checkbox').shiftcheckbox({
                                        checkboxSelector: ':checkbox',
                                        selectAll: '.search-result th.wr-tr-checkbox'
                                    });
                                    $('#wr-page-content .search-result td.wr-tr-checkbox').closest('td').click(function(e) {
                                        e.stopPropagation();
                                    });
                                    $('#wr-page-content .search-result td.wr-tr-checkbox :checkbox').change(function(e) {
                                        var checked = $(this).prop('checked');
                                        if (checked) {
                                            $(this).closest('tr').addClass('warning');
                                        }
                                        else {
                                            $(this).closest('tr').removeClass('warning');
                                        }
                                        var checkedSomeone = false;
                                        console.dir($(this));
                                        $('#wr-page-content .search-result td.wr-tr-checkbox :checkbox').each(function(i, e) {
                                            if ($(e).prop('checked')) {
                                                checkedSomeone = true;
                                                return;
                                            }
                                        });
                                        if (checkedSomeone) {
                                            $('#wr-page-content .search-result .wr-bulk-action .btn').removeClass('disabled');
                                        }
                                        else {
                                            $('#wr-page-content .search-result .wr-bulk-action .btn').addClass('disabled');
                                        }
                                    });
                                });
                                // ]]>
                            </script>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </body>
</html>