<!DOCTYPE logback>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d  [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<logger name="org.wallride" level="DEBUG" />
	
	<logger name="org.hibernate.search" level="INFO" />
	<logger name="org.infinispan" level="INFO" />
	<logger name="org.jgroups" level="INFO" />
	<!--
	<logger name="com.amazonaws" level="DEBUG" />
	-->

	<!-- IGNORE "WARN  o.h.e.t.internal.jta.JtaTransaction - HHH000426: You should set hibernate.transaction.manager_lookup_class if cache is enabled"  -->
	<logger name="org.hibernate.engine.transaction.internal.jta.JtaTransaction" level="ERROR" />
	
	<!-- IGNORE "WARN  o.h.h.i.ast.QueryTranslatorImpl - HHH000104: firstResult/maxResults specified with collection fetch; applying in memory!"  -->
	<logger name="org.hibernate.hql.internal.ast.QueryTranslatorImpl" level="ERROR" />
	
	<root>
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>