<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title th:text="${WEBSITE_TITLE}">Title</title>
		<!--/*/ <th:block th:replace="layout::head-link"> /*/-->
		<link rel="shortcut icon" th:href="@{/resource/favicon.png}" />
		<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/atom.xml}" />
		<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/rss.xml}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/resources/css/sticky-footer-navbar.css}" href="#" />
		<link rel="stylesheet" th:href="@{/resources/css/common.css}" href="#" />
		<!--/*/ </th:block> /*/-->
		<!--/*/ <th:block th:replace="layout::head-script"> /*/-->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script th:src="@{/resources/lib/jquery.lazyload.min.js}" src="#"></script>
		<!--/*/ </th:block> /*/-->
		<script th:replace="google-analytics::ga(null)"></script>
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<div class="container">
				<div class="alert alert-warning" th:if="${tag.language ne #locale.language}">
					<span class="glyphicon glyphicon-warning-sign"></span> <span th:text="#{LanguageNotSupported(${#messages.msg('Language.' + tag.language)})}">Please note that this page is available only in English.</span>
				</div>
				<div class="row">
					<div class="col-md-9">
						<div class="page-header">
							<h1 th:text="${tag.name}"></h1>
						</div>
						<post th:each="post : ${posts}" class="wr-post-summary row">
							<div class="col-sm-2">
								<img th:if="${post.cover ne null}" th:src="@{${#medias.link(post.cover)}(w=120,h=120,m=1)}" class="wr-post-cover" />
								<img th:unless="${post.cover ne null}" th:src="@{/resources/img/noimage.png}" />
							</div>
							<div class="col-sm-10">
								<h2 class="wr-post-title"><a th:href="@{${#posts.path(post)}}" th:text="${post.title}?:'No Titled'" href="#"></a></h2>
								<p th:text="${#posts.summary(post, 45)}"></p>
								<p style="margin-bottom:5px"><time th:text="${#temporals.format(post.date, 'yyyy/MM/dd HH:mm')}"></time>&nbsp;&nbsp;&nbsp;
									<a th:if="${post.author ne null}" class="wr-author"><span class="glyphicon glyphicon-user"></span> <span th:text="${post.author}"></span></a></p>
								<span th:unless="${#lists.isEmpty(post.tags)}">
									<a th:each="tag : ${post.tags}" th:href="@{/tag/__${tag}__}" class="wr-tag"><span class="label label-default"><span class="glyphicon glyphicon-tag"></span> <span th:text="${tag.name}">Link</span></span></a>&nbsp;&nbsp;
								</span>&nbsp;&nbsp;
							</div>
						</post>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
