<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" />
		<meta name="keywords" />
		<meta name="author" content="" />
		<title th:text="#{ForgotPassword}">Forgot Password</title>
		<!--/*/ <th:block th:replace="layout::head-link"> /*/-->
		<link rel="shortcut icon" th:href="@{/resource/favicon.png}" />
		<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/atom.xml}" />
		<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/rss.xml}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/resources/css/sticky-footer-navbar.css}" href="#" />
		<link rel="stylesheet" th:href="@{/resources/css/common.css}" href="#" />
		<!--/*/ </th:block> /*/-->
		<!--/*/ <th:block th:replace="layout::head-script"> /*/-->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script th:src="@{/resources/lib/jquery.lazyload.min.js}" src="#"></script>
		<!--/*/ </th:block> /*/-->
		<script th:replace="google-analytics::ga(null)"></script>
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="page-header">
							<h1>Reset Password</h1>
						</div>
						<form th:object="${form}" th:action="@{/password-reset/{token}(token=${token})}" method="post" role="form">
							<input type="hidden" name="_method" value="PUT" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('all')}">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<span th:text="#{Error}">Error</span>
							</div>
							<fieldset>
								<div class="form-group" th:classappend="${#fields.hasErrors('newPassword')}? has-error">
									<label class="control-label" th:text="#{NewPassword}">New Password</label>
									<div>
										<input type="password" th:field="*{newPassword}" class="form-control" th:placeholder="#{NewPassword}" />
										<span class="help-block" th:each="err : ${#fields.errors('newPassword')}" th:text="${err}" />
									</div>
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('newPasswordRetype')}? has-error">
									<label class="control-label" th:text="#{NewPasswordRetype}">New Password (Retype)</label>
									<div>
										<input type="password" th:field="*{newPasswordRetype}" class="form-control" th:placeholder="#{NewPasswordRetype}" />
										<span class="help-block" th:each="err : ${#fields.errors('newPasswordRetype')}" th:text="${err}" />
									</div>
								</div>
							</fieldset>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
