@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
.wr-post-summary {
	margin-bottom: 20px;
}

.post-cover {
	width: 100%;
}
.author {
	background-color: #F5F5F5;
	padding: 15px;
	border-radius: 5px;
}
.author pre {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	border: transparent;
	padding: 0;

}
.pagination-group {
	margin-top: 20px;
}
.pagination-summary {
	line-height: 30px;
	margin-right: 15px;
}
.pagination {
	margin: 0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #839CB1;
	border-color: #839CB1;
}
#wrap > .container {
	padding: 60px 15px 0;
}
#wrap > .post-cover + .container {
	padding-top: 0px;
}
#comment-list .list-group-item {
	border-radius: 0;
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	padding-left: 0;
}
a {
	color: #839CB1;
}

a:hover, a:focus {
	color: #B2CDE4;
}

table {
	border: 1px solid #ccc;
	width: 100%;
	margin: 20px 0;
}
table th, table td {
	border: 1px solid #ccc;
	padding: 10px;
}
table th {
	width: 30%;
}
body{
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-weight: 500;
}
h1, h2, h3, h4, h5 {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2.0em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.2em;
}
.wr-post-title {
    margin-top: 0;
}
.wr-post-title a {
    color: #4E4E4E;
}
.wr-author {
    color: #6F6F6F;
    font-size: 90%;
}
.label-default {
    background-color: #F3F0F0;
    color: #565656;
    border: 1px solid #cccccc;
}
a.wr-tag:hover {
    text-decoration: none;
    opacity: 0.7;
}
p {
    font-size: 15px;
    line-height: 1.6em;
}
time {
    font-size: 90%;
}
img.fr-dii.fr-fil {
    margin: 0px 10px 0px 0px;
    left: 5px;
    float: left;
}
img.fr-dii.fr-fir {
    margin: 0px 0 0px 10px;
    right: 5px;
    float: right;
}
img.fr-dii {
    display: inline-block;
}
.footer {
	margin-top: 20px;
}
.navbar-default {
    background-color: #1C1D21;
    border-color: #1C1D21;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #aeaeae;
    background-color: transparent;
}
.container > .alert {
    margin-top: 15px;
}
.alert + .page-header {
    margin-top: 15px;
}
.alert .row .page-header {
    margin-top: 0;
}