<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" th:replace="layout::head('WallRide')"/>
	<title>CustomFields | WallRide</title>
</head>
<body>
<header th:replace="layout::header"></header>
<div>
	<div id="wr-page-header">
		<div class="page-header container-fluid">
			<div class="pull-left">
				<h1 th:text="#{CustomFields}">CustomFields</h1>
			</div>
			<div class="pull-right">
				<a th:href="@{__${ADMIN_PATH}__/customfields/create(query=${query})}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> <span th:text="#{AddNewCustomField}">Add New</span></a>
			</div>
		</div>
	</div>
	<div id="wr-page-content">
		<section class="search-condition">
			<div class="navbar">
				<div class="container-fluid">
					<form id="search-form" class="navbar-form navbar-left" method="get" th:action="@{__${ADMIN_PATH}__/customfields/index}" th:object="${form}">
						<input type="text" name="keyword" th:value="*{keyword}" class="form-control" th:attr="placeholder=#{Keywords}"/>
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</form>
				</div>
			</div>
		</section>

		<div class="container-fluid">
			<div class="alert alert-success" th:if="${deletedCustomField ne null}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span th:text="#{DeletedCustomField}">CustomField Deleted.</span>
			</div>
			<div class="alert alert-success" th:if="${deletedCustomFields ne null}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span th:text="#{DeletedCustomFields}">CustomFields Deleted.</span>
			</div>
			<section class="search-result">
				<form method="post">
					<div class="search-result-header clearfix">
						<div class="btn-toolbar pull-left">
							<div class="wr-bulk-action btn-group">
								<a th:href="@{__${ADMIN_PATH}__/customfields/index(part=bulk-delete-form,query=${query})}" data-toggle="modal" data-target="#bulk-delete-modal" class="btn btn-default disabled"><span class="glyphicon glyphicon-trash"></span></a>
							</div>
						</div>
 						<div class="pagination-group pull-right">
							<div class="pull-left pagination-summary"><span th:text="${pagination.numberOfFirstElement}"></span> - <span th:text="${pagination.numberOfLastElement}"></span> / <span th:text="${pagination.totalElements}"></span></div>
							<div class="pull-right">
								<ul class="pagination paginateon-sm">
									<li th:classappend="${pagination.hasPreviousPage() ? '' : 'disabled'}"><a th:href="@{${pagination.url}(page=${pagination.previousPageNumber})}" th:text="#{Prev}">Prev</a></li>
									<li th:each="p : ${pagination.getPageables(pageable)}" th:classappend="${p.pageNumber eq pagination.currentPageNumber ? 'active' : ''}"><a th:href="@{${pagination.url}(page=${p.pageNumber})}" th:text="${p.pageNumber + 1}"></a></li>
									<li th:classappend="${pagination.hasNextPage() ? '' : 'disabled'}"><a th:href="@{${pagination.url}(page=${pagination.nextPageNumber})}" th:text="#{Next}">Next</a></li>
								</ul>
							</div>
						</div>
 					</div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
							<tr>
								<th class="wr-tr-checkbox" style="width:40px"><input type="checkbox"/></th>
								<th th:text="#{FieldName}">FieldName</th>
								<th th:text="#{FieldType}">FieldType</th>
								<!--<th th:text="#{Screen}">Screen</th>-->
								<th th:text="#{Description}">Description</th>
								<th class="text-center"></th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="customfield : ${customFields}" th:attr="data-href=@{__${ADMIN_PATH}__/customfields/describe(id=${customfield.id},query=${query})}" >
								<td class="wr-tr-checkbox" style="width:40px"><input type="checkbox" name="ids" th:value="${customfield.id}" /></td>
								<td th:text="${customfield.name?:'(No Titled)'}" style="font-weight: bold;">Title</td>
								<td th:text="${customfield.fieldType}"></td>
								<!--<td><a th:if="${customfield.screen ne null}" th:text="${customfield.author.name}">Author</a></td>-->
								<td th:text="${customfield.description ne null ? customfield.description : ''}">2013/10/24</td>
								<td class="text-center"><a th:attr="href=@{__${ADMIN_PATH}__/customfields/edit(id=${customfield.id},query=${query})}"><span class="glyphicon glyphicon-pencil"></span> <span th:text="#{Edit}">Edit</span></a></td>
							</tr>
							</tbody>
						</table>
					</div>
					<script th:inline="javascript">
						// <![CDATA[
						$(function () {
							$('#wr-page-content .search-result').on('click', '[data-href]', function (e) {
								if (!$(e.target).is(':checkbox') && !$(e.target).is('a')) {
									window.location = $(e.target).closest('tr').data('href');
								};
							});
							$('#wr-page-content .search-result').on('click', '[data-action]', function (e) {
								var form = $(this).closest('form');
								form.attr('action', $(this).data('action'));
								form.submit();
								e.preventDefault();
							});
							$('#wr-page-content .search-result td.wr-tr-checkbox').shiftcheckbox({
								checkboxSelector: ':checkbox',
								selectAll: '.search-result th.wr-tr-checkbox'
							});
							$('#wr-page-content .search-result td.wr-tr-checkbox').closest('td').click(function (e) {
								e.stopPropagation();
							});
							$('#wr-page-content .search-result td.wr-tr-checkbox :checkbox').change(function (e) {
								var checked = $(this).prop('checked');
								if (checked) {
									$(this).closest('tr').addClass('warning');
								} else {
									$(this).closest('tr').removeClass('warning');
								}
								var checkedCount = $('#wr-page-content .search-result td.wr-tr-checkbox :checkbox:checked').length;
								if (checkedCount == 0) {
									$('#wr-page-content .search-result .btn-toolbar .btn').addClass('disabled');
								}
								if (checkedCount >= 1) {
									$('#wr-page-content .search-result .wr-bulk-action .btn').removeClass('disabled');
								}
							});
						});
						// ]]>
					</script>
					<!-- #bulk-delete-modal -->
					<div id="bulk-delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
						<div id="bulk-delete-dialog" class="modal-dialog">
							<div th:fragment="bulk-delete-form" class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" th:text="#{DeleteCustomField}">Delete CustomFields</h4>
								</div>
								<div class="modal-body">
									<p th:text="#{MakeSureDelete}">Are you sure you want to delete?</p>
									<div class="checkbox">
										<label><input type="checkbox" name="confirmed" value="true"/> <span th:text="#{Confirm}">Confirm</span></label>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-default" data-dismiss="modal" th:text="#{Cancel}">Cancel</button>
									<button class="btn btn-primary" th:attr="data-action=@{__${ADMIN_PATH}__/customfields/bulk-delete(query=${query})}" disabled="true" th:text="#{Delete}">Delete</button>
								</div>
							</div>
						</div>
					</div>
					<!--/#bulk-delete-modal -->
					<script th:inline="javascript">
						// <![CDATA[
						$(function () {
							$('#bulk-delete-modal').on('change', ':input[name="confirmed"]', function () {
								var confirmed = $(this);
								$('#bulk-delete-modal .btn-primary').prop('disabled', !confirmed.is(':checked'));
							});
							$('#bulk-delete-modal').on('hidden.bs.modal', function () {
								$(this).removeData('bs.modal');
							});
						});
						// ]]>
					</script>
				</form>
			</section>
		</div>
	</div>
</div>
<footer>
</footer>
</body>
</html>
