<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" th:replace="layout::head('WallRide')" />
		<title></title>
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<img th:if="${page.cover ne null}" th:src="@{${#medias.link(page.cover)}(w=1200,h=500,m=1)}" class="post-cover" />
			<div class="container" style="padding-top: 0px;">
				<div class="row">
					<article class="col-md-9">
						<div class="page-header">
							<h1 th:text="${page.title}"></h1>
						</div>
						<p th:utext="${#posts.body(page)}"></p>
						<time></time>
					</article>
					<div class="col-md-3">
						<div class="list-group" th:if="${!#lists.isEmpty(page.children)}" style="margin-top: 40px;">
							<a th:each="page : ${page.children}" th:href="@{__${WEBSITE_PATH}__/__${page.code}__}" th:text="${page.title}" class="list-group-item">Link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
