<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title th:text="${WEBSITE_TITLE}">Title</title>
		<!--/*/ <th:block th:replace="layout::head-link"> /*/-->
		<link rel="shortcut icon" th:href="@{/resource/favicon.png}" />
		<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/atom.xml}" />
		<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/rss.xml}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/resources/css/sticky-footer-navbar.css}" href="#" />
		<link rel="stylesheet" th:href="@{/resources/css/common.css}" href="#" />
		<!--/*/ </th:block> /*/-->
		<!--/*/ <th:block th:replace="layout::head-script"> /*/-->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script th:src="@{/resources/lib/jquery.lazyload.min.js}" src="#"></script>
		<!--/*/ </th:block> /*/-->
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row author">
							<div class="col-md-2">
								<img style="width:100px; border-radius: 50%" th:src="${author.getGravatarUrl(100)}" src="http://placehold.it/170/eeeeee/ffffff" />
							</div>
							<div class="col-sm-10">
								<h2 th:text="${author}"></h2>
								<pre th:utext="${author.description}"></pre>
							</div>
						</div>
						<div class="pagination-group pull-right">
							<div class="pull-left pagination-summary"><span th:text="${pagination.numberOfFirstElement}"></span> - <span th:text="${pagination.numberOfLastElement}"></span> / <span th:text="${pagination.totalElements}"></span></div>
							<div class="pull-right">
								<ul class="pagination paginateon-sm">
									<li th:classappend="${pagination.hasPreviousPage() ? '' : 'disabled'}"><a th:href="@{__${WEBSITE_PATH}__/author/{code}(code=${author.code},page=${pagination.previousPageNumber})}" th:text="#{Prev}">Prev</a></li>
									<li th:each="p : ${pagination.getPageables(pageable)}" th:classappend="${p.pageNumber eq pagination.currentPageNumber ? 'active' : ''}"><a th:href="@{__${WEBSITE_PATH}__/author/{code}(code=${author.code},page=${p.pageNumber},size=${p.pageSize})}" th:text="${p.pageNumber + 1}"></a></li>
									<li th:classappend="${pagination.hasNextPage() ? '' : 'disabled'}"><a th:href="@{__${WEBSITE_PATH}__/author/{code}(code=${author.code},page=${pagination.nextPageNumber})}" th:text="#{Next}">Next</a></li>
								</ul>
							</div>
						</div>
						<article th:each="article : ${articles}" class="wr-post-summary row">
							<div class="col-sm-2" th:if="${article.cover ne null}">
								<img th:src="@{${#medias.link(article.cover)}(w=120,h=120,m=1)}" class="wr-post-cover" />
							</div>
							<div class="col-sm-10" th:if="${article.cover ne null}">
								<h1 class="wr-post-title"><a th:href="@{__${WEBSITE_PATH}__/__${article.date.toString('yyyy/MM/dd')}__/__${article.code}__}" th:text="${article.title}?:'No Titled'" href="#"></a></h1>
								<time th:text="${article.date.toString('yyyy/MM/dd')}"></time>
							</div>
							<div class="col-sm-12" th:if="${article.cover eq null}">
								<h1 class="wr-post-title"><a th:href="@{__${WEBSITE_PATH}__/__${article.date.toString('yyyy/MM/dd')}__/__${article.code}__}" th:text="${article.title}?:'No Titled'" href="#"></a></h1>
								<time th:text="${article.date.toString('yyyy/MM/dd')}"></time>
							</div>
						</article>
					</div>
					<div class="col-md-3">
						<div class="list-group" th:if="${category eq null}">
							<a th:each="node : ${CATEGORY_TREE.rootNodes}" th:href="@{__${WEBSITE_PATH}__/category/__${node.category.code}__}" th:text="${node.category.name}" class="list-group-item">Link</a>
						</div>
						<div class="list-group" th:if="${category ne null}">
							<a th:each="category : ${category.children}" th:href="@{__${WEBSITE_PATH}__/category/__${category.code}__}" th:text="${category.name}" class="list-group-item">Link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
