body {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	font-size: 13px;
	background-color: #FFFEFC;
/* 	background-image: url(../img/body-bg.png);
	background-repeat: repeat;
 */}
h1, h2, h3, h4, h5, h6, input, pre {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	font-weight: normal;
}
h1 {
	margin-top: 10px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 15px;
}
hr {
	border-top: 1px solid #ccc;
}
label {
	font-weight: normal;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
}
a {
	color: #819FAA;
	text-decoration: none;
}
a:hover {
	color: #78BFD8;
	text-decoration: none;
}
a:focus {
	background-color: #F5D03B;
}
pre {
	border: transparent;
	background-color: transparent;
}
/***** bootstrap *****/
.container {
	max-width: 100%;
}
#sidebar .img-thumbnail {
	background-color: transparent;
	border: transparent;
}
/***** layout *****/
#header {
	margin-bottom: 0;
}
#sidebar {
	width: 169px;
	position: absolute;
	border-right: 1px solid #ccc;
}
#sidebar:before {
	content: "";
	display: block;
	width: 169px;
	position: fixed;
	bottom: 0;
	top: 0;
	z-index: -1;
	background-image: none;
	background-color: #FFFEFC;
	background-repeat: repeat;
	border-right: 1px solid #ccc;
}
#sidebar a {
	color: #585858;
}
#sidebar .wr-account {
	text-align: center;
	display: block;
	padding: 10px;
}
#sidebar .wr-account-picture {
	width: 145px;
	margin-bottom: 10px;
}
#sidebar .wr-account-name {
	display: block;
}
#sidebar .nav li {
	margin: 0;
}
#sidebar .nav li a {
	border: none;
	border-top: 1px solid #D5D5D5;
	border-bottom: transparent;
}
#sidebar .account + .nav li a,
#sidebar .nav .nav li a {
	background-color: #FFFEFC;
}
#sidebar .account + .nav li a:hover,
#sidebar .nav .nav li a:hover {
	background-color: #ddd;
}
#sidebar .nav>li>a:hover,
#sidebar .nav>li>a:focus {
	text-decoration: none;
	background-color: #ddd;
}
#sidebar .dropdown > a::after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -5px;
}
#sidebar .dropdown-menu {
	top: -1px;
	left: 100%;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.navbar-inverse {
	background-color: #FFFEFC;
	border-color: #fff;
	border-bottom: 1px solid #ccc;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
	color: #646464;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #444242;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #646464;
	background-color: transparent;
}
#header .navbar-toggle {
	background-color: #BBBBBB;
	border: transparent;
}
#header .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #8A8888;
}
@media(min-width:768px) {
	#header .navbar-collapse .navbar-nav.navbar-left:first-child {
		margin-left: 0;
	}
}
#header.navbar-inverse .navbar-collapse, #header.navbar-inverse .navbar-form {
	border-color: #C5C5C5;
}
#main {
	margin-left: 170px;
	margin-right: 0;
	margin-top: 0;
	min-height: 100%;
	padding: 0 30px 75px;
}
#main h1 {
	font-size: 20px;
}
#main .breadcrumb {
	background-color: transparent;
	padding: 8px 0;
	margin-bottom: 5px;
}

#main .page-header {
	position: relative;
	border: none;
	margin: 0;
}
#main .page-header .btn-toolbar {
	float:left;
}
#main .page-header .actions {
	right: 0;
	float:left;
}
#main .actions .pager {
	display: inline-block;
	margin: 0;
}
.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
	color: #999;
	cursor: not-allowed;
	background-color: transparent;
}
.pager li>a, .pager li>span {
	border-radius:0;
	border:transparent;
	background-color: transparent;
}
@media (max-width: 768px) {
	#sidebar {
		display: none;
	}
	#main {
		margin-left: 0;
	}
}

/*** search ***/
#main .search-condition {
	position: relative;
	margin-bottom: 15px;
}
#main .search-condition .form-actions {
	margin: 0;
	padding: 0 0 0 160px;
	border: none;
}
#main .search-condition-quick {
	margin-bottom: 15px;
}

#main .search-result .search-result-header {
	margin-bottom: 15px;
}
#main .search-result .search-result-header .pagination-summary {
	padding: 7px 12px;
}
#main .search-result .search-result-header .pagination {
	margin-right: 5px;
	display: inline;
}
#main .search-result .condition-group {
	padding: 9px 9px 9px 0;
}

/***** button *****/

.btn-primary {
	background-color: #FFA498;
	border-color: #DDDDDD;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #FF7373;
	border-color: #DDDDDD;
}
.btn-info {
	background-color: #71BAD5;
	border-color: #F0FBFF;
}
.btn-info:hover, .btn-info:focus,.open .dropdown-toggle.btn-info {
	background-color: #29ACDA;
	border-color: #F0FBFF;
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.btn-primary[disabled] {
	background-color: grey;
	border-color: #DDDDDD;
}
.btn-link {
	color: #819FAA;
	text-decoration: none;
}
.btn-link:hover {
	color: #78BFD8;
	text-decoration: none;
}
.open .dropdown-toggle.btn-primary {
	background-color: #FF7373;
	border-color: #DDDDDD;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #d9534f;
	outline: 0;
}
/***** pagination *****/
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	color: #fff;
	background-color: #B6B6B6;
	border-color: #B6B6B6;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 7px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	background-color: #646360;
	color: #ffffff;
}

/***** table ******/
.table > thead > tr > th {
	border-bottom: 1px solid #ddd;
}
.table > thead > tr > th,
.table > tbody > tr >th,
.table > tfoot > tr >th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding-left: 4px;
}

/****search***/
.search-condition .checkbox-inline {
	margin-top:7px;
}
.search-condition .label {
	font-size: 85%;
}
/***** list *****/
.form-group .list-inline > li.disabled > a {
	color: #ccc;
}

/**** sortable *****/
ul.sortable .placeholder {
	outline: 1px dashed #bbb;
}
ul.sortable, ul.sortable ul {
	margin: 0 0 0 50px;
	padding: 0;
	list-style-type: none;
}
ul.sortable {
	margin: 1em 0;
}
.sortable li {
	margin: 10px 0 0 0;
	padding: 0;
}
.sortable li div.category  {
	border: 1px solid #d4d4d4;
	padding: 0;
	margin: 0;
	cursor: move;
	background: #ffffff;
}
.sortable li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
	background: #fafafa;
}
.sortable .wr-tree-options .disclose {
	cursor: pointer;
	display: none;
}
.sortable li.mjs-nestedSortable-branch > div .wr-tree-option,
.sortable li.mjs-nestedSortable-leaf > div .wr-tree-option {
	display: inline-block;
}
.sortable li.mjs-nestedSortable-leaf .disclose {
	visibility: hidden;
}
.sortable li.mjs-nestedSortable-collapsed > ul {
	display: none;
}
.sortable li.mjs-nestedSortable-branch.mjs-nestedSortable-collapsed > div .disclose > span:before {
	color: #819FAA;
	content: ' \2b ';
	/*content: ' \e080 ';*/
}
.sortable li.mjs-nestedSortable-branch.mjs-nestedSortable-expanded > div .disclose > span:before {
	color: #819FAA;
	content: ' \2212 ';
}
/**** article-edit *****/
@media (min-width: 768px) {
	#category-fieldset .category-list {
		height: 350px;
		width: 200px;
		overflow: auto;
	}
}
@media (min-width: 1260px) {
	#category-fieldset .category-list {
		height: 350px;
		width: 240px;
		overflow: auto;
	}
}
@media (min-width: 1650px) {
	#category-fieldset .category-list {
		height: 350px;
		width: 350px;
		overflow: auto;
	}
}



/***** form ******/
legend {
	font-size: 16px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 7px;
}
.form-horizontal .control-label {
	text-align: left;
}
.article-panel legend {
	font-size: 14px;
}
.article-panel h1,
.article-panel h2 {
	font-size: 14px;
	margin-top: 15px;
	color: #815453;
}
.article-panel .panel {
	background: transparent;
}
.form-group-sm {
	margin-bottom: 3px;
}
.panel.category li.checkbox:first-child {
	margin-top: 0;
}
.label-publish {
	background-color: #E47875;
}
.label-draft {
	background-color: #A39B9B;
}
/***** describe *****/
.checked {
	color: #E77059;
}
#main .describe .breadcrumb {
	margin-left: 15px;
	margin-right: 15px;
}
#main .describe .page-header:first-child h1 {
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}
#main .describe .action-nav {
	margin-bottom:15px;
	margin-right: 0px;
	margin-left: 0px;
}
#main .describe .pull-left .btn-group > .btn.status {
	margin-left: -10px;
}
#main .describe .pull-right.move {
	padding: 10px 0 5px;
	margin-right: 15px;
}
#main pre {
	padding: 0;
	font-size: 120%;
}
.pager {
	margin: 4px 0;
}
#main .page-header  .list-inline > li > h1 {
	margin-top: 5px;
}
/***** dropdown *****/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/***** other *****/
.nav-tabs {
	margin-bottom: 2em;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #F3F3F3;
}

/***** select2 ******/
.select2-container .select2-choice {
	height: 34px;
	background-image: transparent;
}
.select2-container .select2-choice .select2-arrow {
	background-image: transparent;
	background: #eee;
}
.well {
	background-color:#FFFEFD;
}

/***** redactor *****/
.redactor_editor,
.redactor_editor:focus,
.redactor_editor div,
.redactor_editor p,
.redactor_editor ul,
.redactor_editor ol,
.redactor_editor table,
.redactor_editor dl,
.redactor_editor blockquote,
.redactor_editor pre,
.redactor_editor h1,
.redactor_editor h2,
.redactor_editor h3,
.redactor_editor h4,
.redactor_editor h5,
.redactor_editor h6 {
	font-family: Meiryo UI, Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
}
.has-error .redactor_box {
	border-color: #b94a48;
}

*[data-href] {
	cursor: pointer;
}

