body {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	font-size: 13px;
	/*background-color: #FFFFFF;*/
	background-color: #FFFFFF;
/* 	background-image: url(../img/body-bg.png);
	background-repeat: repeat;
 */}
h1, h2, h3, h4, h5, h6, pre {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	font-weight: normal;
}
h1 {
	margin-top: 10px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 15px;
}
hr {
	border-top: 1px solid #ccc;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 13px;
	height: 34px;
	padding: 6px 12px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
}
.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	font-size: 13px;
}
label, select {
	font-family: 'Segoe UI', Arial, 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
	font-size: 13px;
}
label.checkbox {
	font-weight: normal;
}
a {
	color: #819FAA;
	text-decoration: none;
}
a:hover {
	color: #78BFD8;
	text-decoration: none;
}
a:focus {
	background-color: #F5D03B;
}
pre {
	border: transparent;
	background-color: transparent;
}
/***** bootstrap *****/
.container {
	max-width: 100%;
}
#sidebar .img-thumbnail {
	background-color: transparent;
	border: transparent;
}
/***** layout *****/
#header {
	margin-bottom: 0;
}
#sidebar {
	width: 169px;
	position: absolute;
	border-right: 1px solid #ccc;
}
#sidebar:before {
	content: "";
	display: block;
	width: 169px;
	position: fixed;
	bottom: 0;
	top: 0;
	z-index: -1;
	background-image: none;
	background-color: #FFFFFF;
	background-repeat: repeat;
	border-right: 1px solid #ccc
}
#sidebar a {
	color: #585858;
}
#sidebar .account {
	text-align: center;
	display: block;
	padding: 10px;
}
#sidebar .account-picture {
	width: 120px;
	margin-bottom: 10px;
}
#sidebar .account-name {
	display: block;
}
#sidebar .nav li {
	margin: 0;
}
#sidebar .nav li a {
	border: none;
	border-top: 1px solid #D5D5D5;
	border-bottom: transparent;
}
#sidebar .account + .nav li a,
#sidebar .nav .nav li a {
	background-color: #FFFFFF;
}
#sidebar .account + .nav li a:hover,
#sidebar .nav .nav li a:hover {
	background-color: #ddd;
}
#sidebar .nav>li>a:hover,
#sidebar .nav>li>a:focus {
	text-decoration: none;
	background-color: #ddd;
}
#sidebar .dropdown > a::after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -5px;
}
#sidebar .dropdown-menu {
	top: -1px;
	left: 100%;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.navbar-inverse {
	background-color: #FFFFFF;
	border-color: #fff;
	border-bottom: 1px solid #ccc;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
	color: #646464;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #444242;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #646464;
	background-color: transparent;
}

#main {
	margin-left: 170px;
	margin-right: 0;
	margin-top: 0;
	min-height: 100%;
	padding: 0 30px;
}
#main .breadcrumb {
	background-color: transparent;
	padding: 8px 0;
	margin-bottom: 5px;
}

#main .page-header {
	position: relative;
	border: none;
	margin: 0;
}
#main .page-header h1 {
	font-size: 20px;
	float:left;
}
#main .page-header .btn-toolbar {
	float:left;
}
#main .page-header:first-child {
	margin-top: 0;
	margin-bottom: 10px;
}
#main .page-header:first-child h1 {
	margin-top: 0;
}
#main .page-header .actions {
	right: 0;
	float:left;
}
#main .actions .pager {
	display: inline-block;
	margin: 0;
}
@media (max-width: 768px) {
	#sidebar {
		display: none;
	}
	#main {
		margin-left: 0;
	}
}

/*** search ***/
#main .search-condition {
	position: relative;
	margin-bottom: 15px;
}
#main .search-condition .form-actions {
	margin: 0;
	padding: 0 0 0 160px;
	border: none;
}
#main .search-condition-quick {
	margin-bottom: 15px;
}

#main .search-condition-quick ul.status .total {
	font-size: 12px;
	color: #929292;
}
#main .search-result .search-result-header {
	margin-bottom: 15px;
}
#main .search-result .search-result-header .pagination-summary {
	padding: 7px 12px;
}
#main .search-result .search-result-header .pagination {
	margin-right: 5px;
	display: inline;
}
#main .search-result thead th.checkbox,
#main .search-result tbody td.checkbox {
	display: table-cell;
}
#main .search-result thead th.checkbox input[type="checkbox"],
#main .search-result tbody td.checkbox input[type="checkbox"] {
	margin-top: 0;
	margin-left: 0;
}
#main .search-result .condition-group {
	padding: 9px 9px 9px 0;
}

/***** button *****/
.btn-primary {
	background-color: #FFA498;
	border-color: #DDDDDD;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #FF7373;
	border-color: #DDDDDD;
}
.btn-primary[disabled] {
	background-color: grey;
	border-color: #DDDDDD;
}
.open .dropdown-toggle.btn-primary {
	background-color: #FF7373;
	border-color: #DDDDDD;
}
/***** pagination *****/
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	color: #fff;
	background-color: #B6B6B6;
	border-color: #B6B6B6;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 7px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: transparent;
	border: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	background-color: #A3A09B;
}

/***** table ******/
table.details th {
	padding-bottom: 15px;
	vertical-align:top;
}

table.details tr.detail td {
	padding-top: 8px;
	padding-bottom: 15px;
	vertical-align:top;
	border-top-color: #DDDDDD;
	border-top-style: solid;
	border-top-width: 1px;
}
.table.list .checkbox {
	display: inline;
}
.table-hover>tbody>tr.warning>td {
	background-color: #FDFBED;
}
.table-hover>tbody>tr.warning:hover>td {
	background-color: #F7F5E7;
}

/****search***/
.search-condition .checkbox-inline {
	margin-top:7px;
}
.search-condition .label {
	font-size: 85%;
}
/***** list *****/
.list-inline > li {
	padding-left: 0;
}
ul.tree {
	list-style-type: none;
	padding-left: 0;
}
ul.tree li div.category {
	padding: 10px 5px;
	background-color: #fff;
/*	background-color: #DBDBDB; */
	border: 1px solid #ccc;
	margin-bottom: 15px;
}
ul.tree li div.category.freeze {
	background-color: #DBDBDB;
}
ul.tree li div.category.freeze.active {
	background-color: #FFCACA;
}
ul.tree li div.category a {
	color: #6F6E6E;
}
ul.tree li div.category a:hover {
	color: #000;
}
ul.tree li div.category .glyphicon-remove {
	color: #A8A8A8;
}
ul.tree li div.category .glyphicon-remove:hover {
	color: #000;
}
ul.tree li ul {
	list-style-type: none;
	margin-left: 50px;
}
ul.tree ul {
	padding-left: 10px;
}
.ui-sortable .placeholder {
	border: 1px dotted #ccc;
	margin-bottom: 15px;
}
/***** form ******/
fieldset {
	margin-top:1em;
}
legend {
	font-size: 16px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 7px;
}
.form-horizontal .control-label {
	text-align: left;
}
.article-panel legend {
	font-size: 14px;
}
.article-panel h1,
.article-panel h2 {
	font-size: 14px;
	margin-top: 15px;
	color: #815453;
}
.article-panel .panel {
	background: transparent;
}
.form-group-sm {
	margin-bottom: 3px;
}
.panel.category li.checkbox:first-child {
	margin-top: 0;
}
.label-publish {
	background-color: #E47875;
}
.label-draft {
	background-color: #A39B9B;
}
/***** describe *****/
.checked {
	color: #E77059;
}
#main .describe .breadcrumb {
	margin-left: 15px;
	margin-right: 15px;
}
#main .describe .page-header:first-child h1 {
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}
#main .describe .action-nav {
	margin-bottom:15px;
	margin-right: 0px;
	margin-left: 0px;
}
#main .describe .pull-left .btn-group > .btn.status {
	margin-left: -10px;
}
#main .describe .pull-right.move {
	padding: 10px 0 5px;
	margin-right: 15px;
}
#main pre {
	padding: 1.2em 0;
	font-size: 120%;
}

/***** dropdown *****/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/***** other *****/
.nav-tabs {
	margin-bottom: 2em;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #F3F3F3;
}
.clickable {
	cursor: pointer;
}

/***** select2 ******/
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
	border: 1px solid #ccc;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.select2-dropdown-open .select2-choice {
	background-image:none;
}
.select2-drop-active {
	border: 1px solid #ccc;
}
.select2-container .select2-choice {
	height: 34px;
	background-image: none;
}
.select2-container .select2-choice .select2-arrow {
	background-image: none;
	background: #ddd;
}
.select2-drop {
	-webkit-box-shadow: none;
	box-shadow: none;
}
/**** Redactor *****/
.redactor_toolbar {
	background:none;
}
.well {
	background-color:#FFFEFD;
}
