<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Template for HTML email (simple)</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<p th:text="#{PasswordResetConfirmationNotice}">
			We heard that you lost your password. Sorry about that! But don't worry!
			You can use the following link within the next day to reset your password:
		</p>
		<a th:href="${resetLink}" th:text="${resetLink}">http://wallride.org/password-reset</a>
	</body>
</html>
