<!DOCTYPE logback>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<logger name="org.wallride" level="DEBUG" />

	<logger name="org.hibernate.search" level="INFO" />
	<logger name="org.infinispan" level="DEBUG" />
	<logger name="org.jgroups" level="DEBUG" />
	
	<!-- IGNORE "WARN  o.h.h.i.ast.QueryTranslatorImpl - HHH000104: firstResult/maxResults specified with collection fetch; applying in memory!"  -->
	<logger name="org.hibernate.hql.internal.ast.QueryTranslatorImpl" level="ERROR" />
	
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>