<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title th:text="${#users.title(author)}">Title</title>
		<!--/*/ <th:block th:replace="layout::head-link"> /*/-->
		<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/atom.xml}" />
		<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/rss.xml}" />
		<link rel="stylesheet" th:href="@{/resources/bundle.css}" href="/resources/guest/bundle.css" />
		<!--/*/ </th:block> /*/-->
		<!--/*/ <th:block th:replace="layout::head-script"> /*/-->
		<script th:src="@{/resources/bundle.js}" src="/resources/guest/bundle.js"></script>
		<!--/*/ </th:block> /*/-->
		<script th:replace="google-analytics::ga(null)"></script>
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<div class="container">
				<div class="row">
					<div class="row author">
						<div class="col-md-2">
							<img style="width:100px; border-radius: 50%" th:src="${author.getGravatarUrl(100)}" src="http://placehold.it/170/eeeeee/ffffff" />
						</div>
						<div class="col-sm-10">
							<h3 th:text="${author}"></h3>
							<pre th:utext="${author.description}"></pre>
						</div>
					</div>
					<div class="pagination-group pull-right">
						<div class="pull-left pagination-summary"><span th:text="${pagination.numberOfFirstElement}"></span> - <span th:text="${pagination.numberOfLastElement}"></span> / <span th:text="${pagination.totalElements}"></span></div>
						<div class="pull-right">
							<ul class="pagination paginateon-sm">
								<li th:classappend="${pagination.hasPreviousPage() ? '' : 'disabled'}"><a th:href="@{${#users.path(author)}(page=${pagination.previousPageNumber})}" th:text="#{Prev}">Prev</a></li>
								<li th:each="p : ${pagination.getPageables(pageable)}" th:classappend="${p.pageNumber eq pagination.currentPageNumber ? 'active' : ''}"><a th:href="@{${#users.path(author)}(page=${p.pageNumber},size=${p.pageSize})}" th:text="${p.pageNumber + 1}"></a></li>
								<li th:classappend="${pagination.hasNextPage() ? '' : 'disabled'}"><a th:href="@{${#users.path(author)}(page=${pagination.nextPageNumber})}" th:text="#{Next}">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-9">
					<article th:each="article : ${articles}" class="wr-post-summary row">
						<div class="col-sm-2">
							<img th:if="${article.cover ne null}" th:src="@{${#medias.link(article.cover)}(w=120,h=120,m=1)}" class="wr-post-cover" />
							<img th:unless="${article.cover ne null}" th:src="@{/resources/img/noimage.png}" style="width: 120px; height: 120px;" />
						</div>
						<div class="col-sm-10">
							<h2 class="wr-post-title"><a th:href="@{${#posts.path(article)}}" th:text="${article.title}?:'No Titled'" href="#"></a></h2>
							<p th:text="${#posts.summary(article, 45)}"></p>
							<p style="margin-bottom:5px"><time th:text="${#temporals.format(article.date, 'yyyy/MM/dd HH:mm')}"></time>&nbsp;&nbsp;&nbsp;
								<a th:if="${article.author ne null}" class="wr-author"><span class="glyphicon glyphicon-user"></span> <span th:text="${article.author}"></span></a></p>
							<span th:unless="${#lists.isEmpty(article.categories)}">
								<a th:each="category : ${article.categories}" th:href="@{/category/__${category.code}__}" class="wr-category"> <span th:text="${category.name}">Link</span></a>
							</span>&nbsp;&nbsp;
							<span th:unless="${#lists.isEmpty(article.tags)}">
								<a th:each="tag : ${article.tags}" th:href="@{/tag/__${tag}__}" class="wr-tag"><span class="label label-default"><span class="glyphicon glyphicon-tag"></span> <span th:text="${tag.name}">Link</span></span></a>&nbsp;&nbsp;
							</span>
						</div>
					</article>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
