<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" />
		<meta name="keywords" />
		<meta name="author" content="" />
		<title th:text="#{ForgotPassword}">Forgot Password</title>
		<!--/*/ <th:block th:replace="layout::head-link"> /*/-->
		<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/atom.xml}" />
		<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{/feed/rss.xml}" />
		<link rel="stylesheet" th:href="@{/resources/bundle.css}" href="/resources/guest/bundle.css" />
		<!--/*/ </th:block> /*/-->
		<!--/*/ <th:block th:replace="layout::head-script"> /*/-->
		<script th:src="@{/resources/bundle.js}" src="/resources/guest/bundle.js"></script>
		<!--/*/ </th:block> /*/-->
		<script th:replace="google-analytics::ga(null)"></script>
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="page-header">
							<h1 th:text="#{PasswordResetConfirmationSent}">Password reset confirmation sent!</h1>
						</div>
						<p th:text="#{PasswordResetConfirmationNotice}">
							We’ve sent you an email containing a link that will allow you to reset your password.
							Please check your spam folder if the email doesn’t appear within a few minutes.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
