<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" th:content="${#posts.metaDescription(article)}" />
		<meta name="keywords" th:content="${#posts.metaKeywords(article)}" />
		<meta name="author" content="" />
		<title th:text="${#posts.title(article)}">Title</title>
		<!--/*/ <th:block th:replace="layout::head-link"> /*/-->
		<link rel="shortcut icon" th:href="@{/resource/favicon.png}" />
		<link rel="alternate" type="application/atom+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/atom.xml}" />
		<link rel="alternate" type="application/rss+xml" th:title="${WEBSITE_TITLE}" th:href="@{__${WEBSITE_LINK}__/feed/rss.xml}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" th:href="@{/resources/css/sticky-footer-navbar.css}" href="#" />
		<link rel="stylesheet" th:href="@{/resources/css/common.css}" href="#" />
		<!--/*/ </th:block> /*/-->
		<!--/*/ <th:block th:replace="layout::head-script"> /*/-->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script th:src="@{/resources/lib/jquery.lazyload.min.js}" src="#"></script>
		<!--/*/ </th:block> /*/-->
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<img th:if="${article.cover ne null}" th:src="@{${#medias.link(article.cover)}(w=1200,h=400,m=1)}" class="post-cover" />
			<article class="container">
				<div class="page-header">
					<h1 th:text="${article.title}"></h1>
				</div>
				<p th:utext="${#posts.body(article)}"></p>
				<time></time>
				<ul th:if="${article.tags}" class="list-inline">
					<li th:each="tag : ${article.tags}"><a th:href="@{/tag/{name}(name=${tag.name})}"><span class="glyphicon glyphicon-tag"></span> <span th:text="${tag.name}">Tag Name</span></a></li>
				</ul>
				<div class="page-footer">
					<p><a th:href="@{${#users.path(article.author)}}" th:text="${article.author}"></a></p>
				</div>
				<div>
					<h3 th:text="#{Comments}">Comments</h3>
					<ul id="comment-list" class="list-group">
						<li class="list-group-item" th:each="comment : ${article.comments}">
							<div class="dropdown pull-right">
								<button class="btn btn-default btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-pencil"></span> <span th:text="#{Edit}">Edit</span></a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-trash"></span> <span th:text="#{Delete}">Delete</span></a></li>
								</ul>
							</div>
							<span th:text="${comment.authorName}">User Name</span> |
							<time th:text="${comment.createdAt.toString('yyyy/MM/dd HH:mm', #locale)}">2014-01-01 00:00</time>
							<p th:text="${comment.content}">Content</p>
						</li>
					</ul>
					<script id="comment-tmpl" type="text/x-jsrender">
						<li class="list-group-item">
							<div class="dropdown pull-right">
								<button class="btn btn-default btn-link btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-pencil"></span> <span th:text="#{Edit}">Edit</span></a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-trash"></span> <span th:text="#{Delete}">Delete</span></a></li>
								</ul>
							</div>
							<span>User Name</span> |
							<time>2014-01-01 00:00</time>
							<p>{{:content}}</p>
						</li>
					</script>
					<button id="comment-write" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span> Write a comment</button>
					<form id="comment-form" th:action="@{/comments/new}" class="well collapse">
						<input type="hidden" name="postId" th:value="${article.id}" />
						<div class="form-group">
							<textarea name="content" class="form-control" rows="3"></textarea>
						</div>
						<button id="comment-cancel" class="btn btn-default" th:text="#{Cancel}">Cancel</button>
						<button id="comment-post" class="btn btn-primary" data-loading-text="Loading..." th:text="#{Post}">Post</button>
					</form>
					<script>
						$(function() {
							$('#comment-write').click(function(e) {
								e.preventDefault();
								$('#comment-write').hide();
								$('#comment-form').show();
							});
							$('#comment-cancel').click(function(e) {
								e.preventDefault();
								$('#comment-write').show();
								$('#comment-form').hide();
							});
							$('#comment-post').click(function(e) {
								e.preventDefault();
								var $self = $(this);
								$self.button('loading');
								$.ajax({
									url: $self.closest('form').attr('action'),
									type: 'POST',
									data: $self.closest('form').serialize()
								}).done(function(data) {
									var $template = $.templates("#comment-tmpl");
									var html = $template.render(data);
									$("#comment-list").append(html);
									$('#comment-write').show();
									$('#comment-form').hide();
									$self.button('reset');
								}).fail(function() {
									console.dir('fail');
								});
							});
						});
					</script>
				</div>
			</article>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
