<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" th:replace="layout::head('WallRide')" />
	<title>WallRide</title>
</head>
<body>
<header th:replace="layout::header"></header>
<div>
	<div th:replace="layout::sidebar"></div>
	<div id="main">
		<div class="page-header clearfix">
			<h1 th:text="#{Dashboard}">Dashboard</h1>
		</div>
		<div class="row wr-dashboard">
			<div class="col-sm-2">
				<h2 th:text="#{Content}">Content</h2>
				<table class="table">
					<tr>
						<th th:text="${articleCount}">11</th>
						<td th:text="#{Posts}">Posts</td>
					</tr>
					<tr>
						<th th:text="${pageCount}">11</th>
						<td th:text="#{Pages}">Pages</td>
					</tr>
					<tr>
						<th th:text="${categoryCount}">11</th>
						<td th:text="#{Categories}">Categories</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-5">
				<h2 th:text="#{NewPosts}">New Posts</h2>
				<dl th:each="article : ${recentPublishedArticles}" class="list-inline">
					<dt><a th:href="@{__${ADMIN_PATH}__/articles/describe(id=${article.id})}" th:text="${article.title}">Title</a></dt>
					<dd th:text="${article.date.toString('yyyy/MM/dd (E)', #locale)}">yyyy/MM/dd</dd>
				</dl>
			</div>
			<div class="col-sm-5">
				<h2 th:text="#{Drafts}">Drafts</h2>
				<dl th:each="article : ${recentDraftArticles}" class="list-inline">
					<dt><a th:href="@{__${ADMIN_PATH}__/articles/describe(id=${article.id})}" th:text="${article.title}?:'(No Titled)'">Title</a></dt>
					<dd th:text="${article.updatedAt.toString('yyyy/MM/dd (E) HH:mm', #locale) + ' Last Modified'}">yyyy/MM/dd HH:mm Last Modified</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<footer>
</footer>
</body>
</html>